Repository 2lambda123/spf13-cobra, changes with the labels that .github/labeler.yml gives for each.
All labels: area/documentation, area/lib, area/*sh completion

.github/labeler.yml:

# changes to documentation
"area/documentation": doc/**/*

# changes to the core lib package
"area/lib": ./*.go

# changes to the shell completion
"area/*sh completion":
  - ./*completions*

Escape bash completion when there is only one possible completion
  bash_completionsV2.go
Labels: area/lib, area/*sh completion

Use line-break as field separator in compgen words input
  bash_completionsV2.go
Labels: area/lib, area/*sh completion

Remove the default "completion" cmd if it is alone
  command.go
  completions.go
  completions_test.go
  site/content/completions/_index.md
Labels: area/lib, area/*sh completion

Print ActiveHelp for bash along other completions
  bash_completionsV2.go
Labels: area/lib, area/*sh completion

feat(i18n): implement localization using gettext files
  Makefile
  args.go
  args_test.go
  cobra.go
  command.go
  command_test.go
  completions.go
  flag_groups.go
  go.mod
  go.sum
  locales/README.md
  locales/default.pot
  locales/default/en.mo
  locales/default/en.po
  locales/default/fr.mo
  locales/default/fr.po
  localizer.go
  localizer_test.go
Labels: area/lib, area/*sh completion

feat(i18n): only embed locale files when using the build tag 'locales'
  localizer.go
  localizer_locales.go
  localizer_notlocales.go
  localizer_test.go
Labels: area/lib

feat(i18n): add a Makefile recipe to install i18n extraction dependencies
  Makefile
Labels: none

chore(i18n): lint
  args.go
  cobra.go
  command.go
  completions.go
  flag_groups.go
  localizer.go
  localizer_test.go
Labels: area/lib, area/*sh completion

feat(i18n): test the locales using the appropriate build flag
  Makefile
  localizer_test.go
Labels: area/lib

fix(bash): Fix bash completion for suggestions that contain special characters.
  bash_completionsV2.go
Labels: area/lib, area/*sh completion

fix: We don't need an extra empty character when we're doing proper quoting.
  bash_completionsV2.go
Labels: area/lib, area/*sh completion

fish completions: fix double-evaluation of commandline
  fish_completions.go
Labels: area/lib, area/*sh completion

Don't quote different completion types.
  bash_completionsV2.go
Labels: area/lib, area/*sh completion

closes #2130 new command flag ErrorOnUnknownSubcommand
  command.go
  command_test.go
Labels: area/lib

fix linting issue
  command_test.go
Labels: area/lib

moved to global EnableErrorOnUnknownSubcommand option
  cobra.go
  command.go
  command_test.go
Labels: area/lib

Make detection for test-binary more universal
  command.go
  command_go120.go
  command_go121.go
Labels: area/lib

Restructure code to let linker perform deadcode elimination step
  cobra.go
  cobra_test.go
  command.go
Labels: area/lib
